<?xml version='1.0' encoding='utf-8'?>
<robot name="bbb">
  <link name="base_link">
    <inertial>
      <origin xyz="-0.00581224200987918 0.000426613373044227 -0.00105478177946666" rpy="0 0 0" />
      <mass value="5.41366707100683" />
      <inertia ixx="0.0241142338903045" ixy="1.3553444371219E-06" ixz="-1.36708274710165E-05" iyy="0.0157681182162229" iyz="-9.83997409893714E-05" izz="0.0357076438689546" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/base_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.753 0.753 0.753 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link name="lf_hip_link">
    <inertial>
      <origin xyz="-0.00495565573254031 -0.0277291549147522 -4.53913481482382E-06" rpy="0 0 0" />
      <mass value="0.351815093071107" />
      <inertia ixx="0.000225370036944545" ixy="4.21090367483954E-06" ixz="8.86016895485901E-09" iyy="0.000276953379434167" iyz="-4.458148042616E-09" izz="0.000185724930026978" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/lf_hip_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.753 0.753 0.753 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/lf_hip_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="lf_hip_roll_joint" type="revolute">
    <origin xyz="0.270000000000093 0.0770000000000011 0.00650000000000003" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="lf_hip_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.87" upper="0.87" effort="0" velocity="0" />
  </joint>
  <link name="lf_thigh_link">
    <inertial>
      <origin xyz="-0.00498610621636619 -0.0284290230210779 -0.032829002371977" rpy="0 0 0" />
      <mass value="0.658934018099903" />
      <inertia ixx="0.000994922145335037" ixy="-4.50608493670515E-06" ixz="1.33080249462515E-06" iyy="0.00112098245426442" iyz="9.80379728122229E-06" izz="0.000290234107322552" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/lf_thigh_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.753 0.753 0.753 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/lf_thigh_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="lf_hip_pitch_joint" type="revolute">
    <origin xyz="0 0.0820941029534056 0" rpy="0 0 0" />
    <parent link="lf_hip_link" />
    <child link="lf_thigh_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.79" upper="2.61" effort="0" velocity="0" />
  </joint>
  <link name="lf_calf_link">
    <inertial>
      <origin xyz="0.034323548724133 -0.000556202320309882 -0.121491863209091" rpy="0 0 0" />
      <mass value="0.0886411364041483" />
      <inertia ixx="0.000493432983654381" ixy="1.24116369279815E-09" ixz="9.20359502973423E-05" iyy="0.000522134395218444" iyz="-4.45037360047711E-09" izz="3.11362902828436e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/lf_calf_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.753 0.753 0.753 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/lf_calf_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="lf_knee_joint" type="revolute">
    <origin xyz="0 0 -0.2125" rpy="0 0 0" />
    <parent link="lf_thigh_link" />
    <child link="lf_calf_link" />
    <axis xyz="0 1 0" />
    <limit lower="-2.75" upper="-0.55" effort="0" velocity="0" />
  </joint>
  <link name="lf_foot_link">
    <inertial>
      <origin xyz="-0.00871413205939864 -7.98572501113926E-05 -0.00606935779778295" rpy="0 0 0" />
      <mass value="0.0560098725774845" />
      <inertia ixx="1.36530429816947E-05" ixy="6.03621970966013E-08" ixz="3.961578326991E-07" iyy="1.45656639808829E-05" iyz="3.87269454059871E-08" izz="1.29196315971462E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/lf_foot_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.753 0.753 0.753 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/lf_foot_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="lf_ankle_joint" type="fixed">
    <origin xyz="0.0241526723373156 0 -0.238616236023326" rpy="0 0 0" />
    <parent link="lf_calf_link" />
    <child link="lf_foot_link" />
    <axis xyz="0 0 0" />
  </joint>
  <link name="rf_hip_link">
    <inertial>
      <origin xyz="-0.0049556486179978 0.0277280815997937 0.000243507512134741" rpy="0 0 0" />
      <mass value="0.351815204950062" />
      <inertia ixx="0.000225370196335312" ixy="-4.21066762823921E-06" ixz="-4.51963328694996E-08" iyy="0.000276946853799147" iyz="7.81764996234794E-07" izz="0.000185731643441757" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/rf_hip_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.753 0.753 0.753 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/rf_hip_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rf_hip_roll_joint" type="revolute">
    <origin xyz="0.27 -0.0769999999999902 0.00649999999999125" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="rf_hip_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.87" upper="0.87" effort="0" velocity="0" />
  </joint>
  <link name="rf_thigh_link">
    <inertial>
      <origin xyz="-0.00498610621636619 0.0284290230210779 -0.032829002371977" rpy="0 0 0" />
      <mass value="0.658934018099903" />
      <inertia ixx="0.000994922145335037" ixy="-5.34779451471435E-06" ixz="8.41748835309276E-06" iyy="0.00112098245426442" iyz="-3.7233095489091E-06" izz="0.000290234107322552" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/rf_thigh_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.753 0.753 0.753 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/rf_thigh_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rf_hip_pitch_joint" type="revolute">
    <origin xyz="0.00625673374689839 -0.0799602406412827 -0.0007143681757424" rpy="0 0 0" />
    <parent link="rf_hip_link" />
    <child link="rf_thigh_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.79" upper="2.61" effort="0" velocity="0" />
  </joint>
  <link name="rf_calf_link">
    <inertial>
      <origin xyz="0.034323548724133 0.000556202320309882 -0.121491863209091" rpy="0 0 0" />
      <mass value="0.0886411364041483" />
      <inertia ixx="0.000493432983654381" ixy="-7.91959230530167E-07" ixz="9.20325433021602E-05" iyy="0.000522134395218444" iyz="4.22730872923111E-06" izz="3.11362902828436e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/rf_calf_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.753 0.753 0.753 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/rf_calf_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rf_knee_joint" type="revolute">
    <origin xyz="0 0.00183140408203904 -0.212492107869655" rpy="0 0 0" />
    <parent link="rf_thigh_link" />
    <child link="rf_calf_link" />
    <axis xyz="0 1 0" />
    <limit lower="-2.75" upper="-0.55" effort="0" velocity="0" />
  </joint>
  <link name="rf_foot_link">
    <inertial>
      <origin xyz="-0.00871413333598681 -2.75457789420258E-05 -0.00606982061808625" rpy="0 0 0" />
      <mass value="0.0560098720806614" />
      <inertia ixx="1.36530433271663E-05" ixy="5.69452574653755E-08" ixz="3.96663799090001E-07" iyy="1.45648736643304E-05" iyz="5.29061137701372E-08" izz="1.29204202579859E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/rf_foot_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.753 0.753 0.753 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/rf_foot_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rf_ankle_joint" type="fixed">
    <origin xyz="0.0241526723373044 0.00205647938763617 -0.238607374124243" rpy="0 0 0" />
    <parent link="rf_calf_link" />
    <child link="rf_foot_link" />
    <axis xyz="0 0 0" />
  </joint>
  <link name="lb_hip_link">
    <inertial>
      <origin xyz="0.00495565572022805 -0.0277291549423456 4.53915673045979E-06" rpy="0 0 0" />
      <mass value="0.351815092669551" />
      <inertia ixx="0.000225370036592201" ixy="-4.21090362492546E-06" ixz="8.85998294641503E-09" iyy="0.000276953378961834" iyz="4.45808524602267E-09" izz="0.000185724929867589" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/lb_hip_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.753 0.753 0.753 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/lb_hip_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="lb_hip_roll_joint" type="revolute">
    <origin xyz="-0.27 0.0769999999999937 0.00649999999998982" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="lb_hip_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.87" upper="0.87" effort="0" velocity="0" />
  </joint>
  <link name="lb_thigh_link">
    <inertial>
      <origin xyz="-0.0034268508780364 -0.0273873495689585 -0.0328343083171107" rpy="0 0 0" />
      <mass value="0.658933850403685" />
      <inertia ixx="0.000970448684122255" ixy="-2.47605315392083E-06" ixz="2.47514430228116E-05" iyy="0.00112091937488099" iyz="8.30041640505366E-06" izz="0.000314770592141005" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/lb_thigh_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.753 0.753 0.753 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/lb_thigh_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="lb_hip_pitch_joint" type="revolute">
    <origin xyz="0 0.082094102953411 0" rpy="0 0 0" />
    <parent link="lb_hip_link" />
    <child link="lb_thigh_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.79" upper="2.61" effort="0" velocity="0" />
  </joint>
  <link name="lb_calf_link">
    <inertial>
      <origin xyz="0.0343235492158751 -0.00197924277861043 -0.121494261539372" rpy="0 0 0" />
      <mass value="0.0886411363789507" />
      <inertia ixx="0.000493432983529901" ixy="1.24116369475104E-09" ixz="9.20359502973427E-05" iyy="0.000522152592703594" iyz="-4.45037359904783E-09" izz="3.11180923694494e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/lb_calf_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.753 0.753 0.753 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/lb_calf_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="lb_knee_joint" type="revolute">
    <origin xyz="0 0 -0.212500000000001" rpy="0 0 0" />
    <parent link="lb_thigh_link" />
    <child link="lb_calf_link" />
    <axis xyz="0 1 0" />
    <limit lower="-2.75" upper="-0.55" effort="0" velocity="0" />
  </joint>
  <link name="lb_foot_link">
    <inertial>
      <origin xyz="-0.00871413198622428 -7.98572501099215E-05 -0.00606935779675599" rpy="0 0 0" />
      <mass value="0.0560098725774851" />
      <inertia ixx="1.36530429816948E-05" ixy="6.03621970965031E-08" ixz="3.96157832699089E-07" iyy="1.45656639808831E-05" iyz="3.87269454060392E-08" izz="1.29196315971463E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/lb_foot_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.753 0.753 0.753 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/lb_foot_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="lb_ankle_joint" type="fixed">
    <origin xyz="0.0241526722641411 0 -0.238616236024353" rpy="0 0 0" />
    <parent link="lb_calf_link" />
    <child link="lb_foot_link" />
    <axis xyz="0 0 0" />
  </joint>
  <link name="rb_hip_link">
    <inertial>
      <origin xyz="0.0049557 0.027729 -4.5391E-06" rpy="0 0 0" />
      <mass value="0.35182" />
      <inertia ixx="0.00022537" ixy="4.2109E-06" ixz="-8.8602E-09" iyy="0.00027695" iyz="4.4582E-09" izz="0.00018572" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/rb_hip_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.753 0.753 0.753 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/rb_hip_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rb_hip_roll_joint" type="revolute">
    <origin xyz="-0.27 -0.0769999999999942 0.00650000000000997" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="rb_hip_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.87" upper="0.87" effort="0" velocity="0" />
  </joint>
  <link name="rb_thigh_link">
    <inertial>
      <origin xyz="-0.0034268508780364 0.0273873495689585 -0.0328343083171107" rpy="0 0 0" />
      <mass value="0.658933850403685" />
      <inertia ixx="0.000970448684122255" ixy="5.01796507137574E-06" ixz="1.03451497162236E-06" iyy="0.00112091937488099" iyz="-1.54452384258843E-05" izz="0.000314770592141005" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/rb_thigh_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.753 0.753 0.753 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/rb_thigh_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rb_hip_pitch_joint" type="revolute">
    <origin xyz="0 -0.0799663975607361 0" rpy="0 0 0" />
    <parent link="rb_hip_link" />
    <child link="rb_thigh_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.79" upper="2.61" effort="0" velocity="0" />
  </joint>
  <link name="rb_calf_link">
    <inertial>
      <origin xyz="0.0343235492158751 0.00197924277861043 -0.121494261539372" rpy="0 0 0" />
      <mass value="0.0886411363789507" />
      <inertia ixx="0.000493432983529901" ixy="1.24116369236042E-09" ixz="9.20359502973388E-05" iyy="0.000522152592703594" iyz="-4.45037359937172E-09" izz="3.11180923694494e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/rb_calf_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.753 0.753 0.753 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/rb_calf_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rb_knee_joint" type="revolute">
    <origin xyz="0 0.00183147210188141 -0.212500000000001" rpy="0 0 0" />
    <parent link="rb_thigh_link" />
    <child link="rb_calf_link" />
    <axis xyz="0 1 0" />
    <limit lower="-2.75" upper="-0.55" effort="0" velocity="0" />
  </joint>
  <link name="rb_foot_link">
    <inertial>
      <origin xyz="-0.00871413205939331 -7.98572501101436E-05 -0.00606935779778162" rpy="0 0 0" />
      <mass value="0.056009872577484" />
      <inertia ixx="1.36530429816945E-05" ixy="6.0362197096531E-08" ixz="3.96157832699087E-07" iyy="1.45656639808828E-05" iyz="3.8726945406054E-08" izz="1.2919631597146E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/rb_foot_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.753 0.753 0.753 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/rb_foot_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rb_ankle_joint" type="fixed">
    <origin xyz="0.0241526723373114 -0.00395917750636193 -0.238616236023326" rpy="0 0 0" />
    <parent link="rb_calf_link" />
    <child link="rb_foot_link" />
    <axis xyz="0 0 0" />
  </joint>
</robot>